.App {

  background-image: url(./images/background.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.App-header {
 color: grey;
  height: 100%;
  margin: 0;
}

